<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN" "http://www.freedesktop.org/software/polkit/policyconfig.dtd">
<policyconfig>
  <vendor>Bitwarden</vendor>
  <action id="com.bitwarden.Bitwarden.policy">
    <description>Unlock Bitwarden vault</description>
    <message>Authentication is required to unlock the Bitwarden vault</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>yes</allow_active>
    </defaults>
  </action>
</policyconfig>
